[2017-08-16 19:18] jaredcnance opened #1 "The project file cannot be opened...There is a missing project subtype"
When trying to create a "Template pack project template (SideWaffle)" I get the following error.

I am running VS Community 2017

![image](https://user-images.githubusercontent.com/13851721/29381073-aea1445e-828d-11e7-9011-fb05ec0bb3dd.png)
![image](https://user-images.githubusercontent.com/13851721/29381078-b3d91b04-828d-11e7-9b69-82577a0b78f2.png)

[2017-08-16 19:33] sayedihashimi commented on #1
Do you have 2017 15.3 with Extensibility tools installed? I forgot to mention to install Extensibility tools, it may be the reason.

[2017-08-16 19:34] jaredcnance commented on #1
Further investigation revealed I had to [install the VS SDK](https://docs.microsoft.com/en-us/visualstudio/extensibility/installing-the-visual-studio-sdk) and then [Extensibility Tools](https://marketplace.visualstudio.com/items?itemName=MadsKristensen.ExtensibilityTools)

[2017-08-16 19:34] #1 closed

[2017-08-20 12:32] shaggygi opened #3 "Remove Default Product ID and Publisher Name in Extension Manifest"
The name "Sayed Hashimi" is added in the template's vsixmanifest.

`<Identity Id="SideWaffle.Template.Sayed Hashimi.0f7f23b8-5889-4bd9-afc5-362f23135512" Version="1.0" Language="en-US" Publisher="Sayed Hashimi" />`

[2017-08-20 15:04] sayedihashimi commented on #3
Thanks for the report I'll fix in a couple of days.

[2017-08-21 16:46] shaggygi opened #4 "Create Item with Boilerplate Code Extension for Project"
It would be nice to have the ability to create an extension for a template pack to add a specific item in existing project/folder.  This could allow single or multiple files/items added to your project.

### Scenario Steps:
1. Create any new C#-type project (Class Library, Console, WPF, etc.).  This shouldn't matter since the extension example will be a C#-type in this case.
2. Once project is loa

[2017-08-21 16:57] shaggygi opened #5 "Create New File with Boilerplate Code Extension without a Project or Solution"
It would be nice to have the ability to create an extension for a template pack to add a specific file type in Visual Studio.  This type of extension would not be tied to a project, but in the New File Dialog.  I requested this from the Visual Studio team a couple of years ago.  They acknowledged request, but don't think they ever implemented.  Having it in this new template pack format would be a

[2017-08-21 20:47] sayedihashimi commented on #4
We only have support for Project Templates currently. The wizard built by @mlorbetske and team I believe is limited to projects for now. I will discuss with him when I get back to the office on Wednesday.

[2017-08-21 20:48] sayedihashimi commented on #4
The workaround for now is to add item templates via the normal .vstemplate approach.

[2017-08-22 16:31] sayedihashimi opened #6 "Question: about project name for multi-projects"
[Question from youtube](https://www.youtube.com/watch?v=g6az_N95dVM&lc=z22htjb5gpy5sbyru04t1aokgsvomlws1dmezbl1he4qrk0h00410.1503067913976623)

Thanks, this worked, I am able to create templatepack project and hence an actual project from the template. Nice Work Sayed !!!!!

I still have two questions,

1) I have multiple projects within my solution that I wish to make them part of this ProjectTem

[2017-08-22 16:35] sayedihashimi commented on #6
In the `template.json` the `sourceName` value will be the text that is replaced. For example in the video the source name is `Demo.Console` ([code](https://github.com/sayedihashimi/sayed-samples/blob/master/dotnet-templates/DemoTemplate/src/.template.config/template.json#L14)). When the projects are created `Demo.Console` will be replaced with the name of the project given in the New Project Dialo

[2017-08-22 16:35] #6 closed

[2017-08-22 16:43] aagarwal10 commented on #6
@sayedihashimi - Thanks a lot for following up. Works great !!!

[2017-08-22 21:47] shaggygi commented on #3
Looks good 👍   I also noticed the template project name is also now capitalized from other feedback.  Thanks!

[2017-08-22 21:52] shaggygi opened #7 "Add Template Description Field to Template Info Dialog"
When creating a template for a project (by right-clicking project > Create Template...), it would be nice to have a Description field provided in the Template Info Dialog while adding other project data.

Currently, a default value of "template description" is added to the template.json file after creating the template.

[2017-08-23 03:41] jimbobbennett opened #8 "Changing the icon doesn't seem to work"
I'm creating a template and want to set the icon, but it doesn't seem to work.

I've added an icon called project-icon.png to the same folder as the .vstemplate, but it still uses the default icon.

The project in question is here: https://github.com/jimbobbennett/MvvmCross-Templates

[2017-08-23 15:47] sayedihashimi commented on #3
I have released the fix to the vs marketplace. closing.

[2017-08-23 15:47] #3 closed

[2017-08-23 21:47] sayedihashimi commented on #8
It's working for me. If you are testing with F5/CTRL-F5 please try Resetting the Experimental Instance.

[2017-08-24 01:53] jimbobbennett commented on #8
Ah - I did not know you could reset the experimental instance. All working, thanks!

[2017-08-24 01:53] #8 closed

[2017-08-24 16:26] sayedihashimi commented on #5
If I understand the request correctly you're asking to support "solution items". Currently we are focused on getting project template support. After that we will work on standard Item Templates.
I looked into Solution Items a while back and it seemed there wasn't any support for .vstemplate there. I'm not sure exactly how it would work.
We still have some gaps to fill for project templates. I'll k

[2017-08-24 16:27] sayedihashimi commented on #7
Good suggestion. We should add it. Let me know if you want to take a crack at sending a PR.

[2017-08-24 16:41] shaggygi commented on #5
@sayedihashimi I don't know if it considered "solution items" or not since it is not tied to an actual solution.  This is basic the same as doing the following...

1. Open VS (at this point you don't have a solution or project open)
2. Click File > New > File...
3. Select XML File
4. Click Open
5. An XML file is added to the tab group with the boilerplate XML text  and ready to start adding more c

[2017-08-24 16:42] shaggygi commented on #7
@sayedihashimi yeah, I can tried to PR it.  gimme some time to review and I'll let you know.  thx

[2017-08-24 17:04] sayedihashimi commented on #7
@shaggygi for description I was thinking to add a multi-line text box at the bottom of the WPF dialog.

[2017-08-24 17:11] sayedihashimi commented on #5
@shaggygi I'm looking into whether these are "solution items" or something else. I'm seeing a different set of templates available when doing `File->New File` and `Add Item` on a solution.

Yes, I agree that it's important to get done, but we need to ensure that the project template story is solid before moving to new areas.

[2017-08-24 17:18] sayedihashimi commented on #5
I just chatted with a dev here. File -> New File can be populated via standard Item Templates. Let's keep this open for now. When we do Item Template support lets check if they show up in File -> New File.

[2017-08-24 17:31] sayedihashimi opened #9 "Add dependency/prereq"
We need to add `Microsoft.VisualStudio.ComponentGroup.WebToolsExtensions.TemplateEngine` as a dependency (or prereq not sure) to ensure that the Template Engine is available on the end users machine.

[2017-08-24 21:24] shaggygi opened #10 "Remove related template files from project if Template Info Dialog Cancel clicked"
I noticed if you click Cancel button in Template Info Dialog, the files will still remain in the project.  It would be nice to remove them.  If not, it might be a good idea to document somewhere what was added to let the dev know what needs to be removed manually (especially since there are hidden files added during the process).

[2017-08-25 04:19] sayedihashimi opened #12 "Update template.json which is created"
We should add:
 - `"$schema": "http://json.schemastore.org/template"`
 - `"preferNameDirectory":true`

[2017-08-25 17:42] sayedihashimi opened #13 "Make nuget package name unique"
Currently we are creating a nuget package with the same id "templatepack". If a user installs more than one template pack they will get errors. The templatepack id should be unique for each project.

[2017-08-26 15:59] sayedihashimi opened #14 "Update template.json guids"
For some reason the way the `guids` section is written is not working correctly.

We are writing

[code]

and it doesn't show up after install, but below works.

[code]

Needs investigation

[2017-08-26 16:12] #7 closed

[2017-08-26 16:44] sayedihashimi commented on #14
Looks like the issue was something else

[2017-08-26 16:44] #14 closed

[2017-08-26 17:14] sayedihashimi opened #15 "Make template.vstemplate unique"
Currently we drop a file named `template.vstemplate`. When it's moved into the output folder in the vsix this becomes `template.zip`. This is an issue once you try to create more than one template. We should add the directory name (containing `.template.config`) to the zip file being created. For example `template-SideWaffle.Template.zip'

[2017-08-30 16:18] sayedihashimi commented on #9
@mlorbetske @phenning
I'm trying to figure out what needs to go into the .vsixmanifest to ensure that TemplateEngine is available on the end users machine. I tried both prerequesties and dependenceis and neither is working for me.

### Prerequisites

Adding

[code]

Results in
![prereg](https://user-images.githubusercontent.com/1283154/29883082-f7a18dd6-8d63-11e7-8694-97912050b3ff.png)

### Depend

[2017-09-02 18:03] gduncan411 opened #16 "Images in the readme.md"
The images in the readme.md (and the [marketplace description]( https://marketplace.visualstudio.com/items?itemName=Sayed-Ibrahim-Hashimi.SidewaffleCreator2017)) are missing...

[2017-09-06 16:39] slofre opened #17 "Use custom Wizard with template"
Hi every one. I am trying to create multiple-project template with custom wizard to achieve next:
1. Allow user enter project name.(and replace all default namespaces and file names)
2. Allow user enter DB settings. (and replace default configs).

So, I follow this video to create Template pack https://www.youtube.com/watch?v=g6az_N95dVM&index=1&t=536s&list=PLqSOaIdv36hQdvGVkMXDJJ4Uh-nGj3NRK

Afte

[2017-09-06 18:52] sayedihashimi commented on #17
@slofre thanks for the issue. If I understand correct you want to author a new Wizard which shows a WPF dialog which can accept some parameter value, and then you want to pass that parameter value to the template during creation.

I haven't tried this myself. I'll chat with @phenning and @mlorbetske to see what needs to be done and then create a sample/video.

[2017-09-07 04:01] sayedihashimi commented on #17
OK I looked into it a bit and now have a working sample. The files are in [this folder](https://github.com/sayedihashimi/sayed-samples/tree/master/dotnet-templates/PassParameterFromWizard). The key here is the name parameter that is added. The name of the parameter should be in the format `passthrough:PARAMETER_NAME` where `PARAMETER_NAME` is the name of the parameter in `template.json`. For examp

[2017-09-07 04:16] sayedihashimi commented on #16
@gduncan411 thanks for the report. I have added the files.

[2017-09-07 04:16] #16 closed

[2017-09-07 04:18] sayedihashimi commented on #15
Fixed in 4884ef4e3c3113fa9efe4e1c298ac697082bb7b9

[2017-09-07 04:18] #15 closed

[2017-09-07 04:18] sayedihashimi commented on #13
Fixed in 4884ef4e3c3113fa9efe4e1c298ac697082bb7b9

[2017-09-07 04:18] #13 closed

[2017-09-07 04:47] sayedihashimi commented on #10
Hi @shaggygi thanks for the issue. If you Cancel the dialog then the files should not be getting created on disk. I noticed that the `.template.config` directory was always getting created. I made changes in 52b206126a6166f775a42c410a41178037cd4304 to prevent creation of the folder on Cancel as well.

Are you seeing some different behavior where the files are created on Cancel?

[2017-09-07 04:49] sayedihashimi commented on #9
For the currently released version the prerequiset should be set to `Micorosoft.VisualStudio.Component.Web`. In some future version we can get a smaller component by adding `Microsoft.VisualStudio.ComponentGroup.WebToolsExtensions.TemplateEngine`

[2017-09-07 04:50] sayedihashimi opened #18 "Create nuget package for build targets"
We should have a nuget package for the build targets

[2017-09-07 08:12] slofre commented on #17
@sayedihashimi Than you for quick response, your example was really helpful. Firstly I forgot to add both wizards(custom and Microsoft) and second  I did't know that I need to use "passthrough" with custom params. So, now it's working perfect.
On more thing.. When I opened your sample and build that, I got an "Duplicate Assembly attribute" exceptions, so you can add next to .csproj to fix that:

`

[2017-09-07 08:12] #17 closed

[2017-09-08 16:02] sayedihashimi opened #19 "Support Clean"
We should have support for Clean. Today we leave files in the bin folder.

[2017-09-08 18:44] sayedihashimi opened #20 "Add support for vs4mac"
We should add support for vs4mac https://github.com/dotnet/templating/issues/1209#issuecomment-323148499

[2017-09-08 18:46] sayedihashimi commented on #4
FYI I've updated the title of this issue

[2017-09-08 21:11] tylerbhughes commented on #20
I'm glad to know that this is possible. I'll see about getting VS4Mac installed this weekend.

[2017-09-09 12:35] shaggygi commented on #10
@sayedihashimi Sorry for delay.  I verified and you are correct.  The hidden `.template.config` folder is created, but not the files.  I'll update issue title.  Thx

[2017-09-09 18:25] sayedihashimi commented on #10
In the latest bits (not released yet) I already fixed the folder creation issue. The commit is linked above.

[2017-09-09 21:22] sayedihashimi commented on #20
Great!

[2017-09-11 08:41] slofre commented on #18
@sayedihashimi I have an issue with nuget. For example, I want add some nuget packages from my local machine, not from marketplace. I create a folder "LocalNugets", create nuget.config in project root, add reference to my nagets. Then I want make template for that project and result is next:
When my project created by template I don't see a folder with my nugets, but references exists.
Seems somet

[2017-09-12 01:57] tylerbhughes commented on #20
@sayedihashimi I just finished installing Visual Studio Community for Mac. I also went ahead and installed the AddinMaker extesnsion. I guess my first question is what will we be able to make this repo work with VS for Mac or do we need a different repo just for the Mac version?

[2017-09-12 04:01] tylerbhughes commented on #20
**Update:**

I tried to open the solution in Visual Studio for Mac but I keep running into the error provided in the screenshot. When I go to create a new project I can see in the GUI that it is going to create the .sln and .csproj files so I know it is supposed to be able to recognize the solution file. I'm guessing there's just something in the .sln file that is only recognized by the version of

[2017-09-22 15:16] mustafasaaed opened #21 "When creating a new project the temp pack project template is Generated !"
I created a aspnetcore projecte then added the side waffle temp pack project template
and everything is working fine but the temp pack is generated with every project from that template.

So here is the Template project:
![image](https://user-images.githubusercontent.com/25353476/30751370-745ead60-9fb9-11e7-8ead-d1546a72a0a3.png)

and here is the Generated project directory:

![image](https://user

[2017-09-22 20:23] sayedihashimi commented on #21
Hi @mustafasaaed the folder that contains the `.template.config` folder is the root of the sources. If you want it to only generate the `WebApp` folder then move the `.template.config` folder under `WebApp`.

[2017-09-22 22:56] mustafasaaed commented on #21
Hi @sayedihashimi Thanks for your reply !
I tried the second solution and it worked. Thank You very much

[2017-09-22 22:56] #21 closed

[2017-10-19 17:14] attilah commented on #4
@sayedihashimi do you have any update on Item template support?

[2017-10-20 17:36] sayedihashimi commented on #4
Item Templates may actually work, but I haven't had a chance to try it out. My understanding to get it to work needs:

- Set type = Item in template.json
- Set the type parameter to Item in .vstemplate
- Add an asset tag in .sourcemanifest to specify item templates can come from the Templates folder. (Copy and paste of existing asset for Project but change to Item)

[2017-10-20 17:47] attilah commented on #4
Sounds good, I'll try it and get back to you.

[2017-10-25 05:36] attilah commented on #9
I think we also need to supply 15.0.26606 as the lowest version number, since that is the one for 15.3.0 if I'm not mistaken from the docs, so the correct entry would be:

[code]

[2017-10-30 03:59] managedcoder opened #22 "SideWaffle Creator can’t handle an Azure Resource Group project template"
SideWaffle Creator can’t handle an Azure Resource Group project template – It creates the VS extension but I get a “File Not Found” error when I use my VS extension in the experimental instance of VS and no project files show up.

[2017-10-30 03:59] managedcoder opened #23 "#if statements are not being carried over to extension properly"
#if statements are not being carried over to extension properly.  If the conditional compilation symbol associated with #if statements are defined then the code in the #if block will be generated but not the associated #if statement.  If the conditional compilation symbol is not defined then then the #if and the code within the block don’t get generated by the VS extension (i.e. the whole block di

[2017-11-02 09:44] Damon227 opened #24 "如何设置用模板建出来的项目不用根目录包装"
我用模板建了两个项目DemoActor5 和 DemoActor5.Interfaces，但不想它们被 DemoActor5 文件夹包起来。
![1509615719 1](https://user-images.githubusercontent.com/20295242/32319367-431af4e6-bff5-11e7-9eb8-b2e681e51076.jpg)
![1509615746 1](https://user-images.githubusercontent.com/20295242/32319368-445a1d5a-bff5-11e7-9c29-ac3e1c9996ab.jpg)

请问怎么解决这个问题？

[2017-11-02 18:32] sayedihashimi commented on #23
What file types are you using here? Did you see https://github.com/dotnet/templating/wiki/Reference-for-comment-syntax

[2017-11-02 18:33] sayedihashimi commented on #22
This is usually related to primaryOutputs in `template.json` is that set correctly?

[2017-11-02 22:16] managedcoder commented on #23
Ah, I think I see what might be going on here.  The Template Engine is processing my conditional expression but I actually want them to be part of the generated source, not processed by the Template Engine.  How do I get that done?

-Russ

From: Sayed Ibrahim Hashimi [mailto:notifications@github.com]
Sent: Thursday, November 2, 2017 2:33 PM
To: ligershark/sidewafflev2 <sidewafflev2@noreply.github.

[2017-11-02 22:34] managedcoder commented on #22
I think I have that right… you can see it below.  Something to note is the fact that the ARM project template does not have curly brackets in it.  That’s just the way it is from the VS .csproj file itself.  I actually tried it with and without curlys to no avail.  Is that lack of curlys problematic?

"guids": [
    "{81e4fff2-9d54-40c4-834e-49fab9a762b0}", // MobileBaseline
    "68d82a27-f8ea-4550

[2017-11-23 21:21] giggio opened #25 "Guidance on creating multi-project template with specific structure"
I am having some trouble creating a multi-project template and I would like your recommendation on how to proceed, so I don't fight the tools.

What I want is that the final project structure on disk looks like this:

[code]

And I want my solution to have 2 solution folders, `src`  and `test` that map to the directories on disk, with each project in the correct solution folder.

Right now I creat

[2017-11-24 16:02] managedcoder commented on #22
You were correct!  I had primaryOutput set incorrectly.

[2017-11-24 16:02] #22 closed

[2017-11-27 23:13] managedcoder commented on #23
Ok, I have the solution to my problem now.  Turns out that you can add conditional directives to your code that tell the template engine to ignore blocks of code.  This is done in a comment statement appropriate for the source in question.  So, for my c# files, I surrounded the #if statements I wanted preserved like so:

//-:cnd:noEmit
#if CONDITION
    <your code here>
#endif
//+:cnd:noEmit

The

[2017-11-27 23:13] #23 closed

[2017-11-28 01:12] kdlarson opened #26 "How to create template for SSRS Reporting Project"
I'm able to generate a template from a Reporting Services Project, but I get the following error when it runs:
"Value cannot be null. Parameter name: typeName"

I am specifying a ProjectType of "Database" in the template.vstemplate file. This places the template under the "SQL Server" section of the New dialog. I could not find the right ProjectType value to place it under the correct location of

[2017-11-28 18:19] sayedihashimi commented on #4
@attilah did you have a chance to try it?

[2017-11-30 15:12] ChrisMaddock commented on #4
I'd be keen to hear about this too, if there's any progress. 😄

We're having issues with our old-style VS template VSIX using SideWaffle v1 in VS 2017. I think the right solution would be to have our `dotnet new` adapter integrated into a VSIX, so we're not supporting two templating tools. But to be a proper replacement, we need Item Templates via `dotnet new`.

[2017-12-01 09:05] Advitalitum commented on #25
I have same problem. Also solution folders structure not saved in \MyProject.sln but it is in \MyProject\MyProject.sln. Solution in \MyProject\MyProject.sln is a clone of original solution. It has reference to template csproj file. \MyProject\ folder also contains folder with template project.

[2017-12-01 18:39] giggio commented on #25
@sayedihashimi Can you give us a hand here? Thanks!

[2017-12-04 18:17] sayedihashimi commented on #26
@kdlarson can you share a sample?

[2017-12-04 18:47] kdlarson commented on #26
[Sample Reporting Project.zip](https://github.com/ligershark/sidewafflev2/files/1528372/Sample.Reporting.Project.zip)

The attached sample project shows the error. You will need the (SSRS) Microsoft Reporting Services Projects extension installed in order to use SSRS projects in VS.

In the template.vstemplate file, I had to specify "Database" as the ProjectType. I did this because I couldn't find

[2017-12-06 09:31] muehan opened #27 "PropertyGroup missing from created project"
I have a multi project template created according this video: https://www.youtube.com/watch?v=g6az_N95dVM

The only problem i found is that the new project can not be build, the output path is missing.
more the whole build config is missing.

.csproj from source:

[code]

the generated .csproj
[code]

With Visual Studio 2017.3

[2017-12-06 16:55] sayedihashimi commented on #27
See the comment here https://github.com/dotnet/templating/issues/1195#issuecomment-321344890. Adding ` ` should fix this.
I'll close this because I'm pretty certain you're running into this issue. If not please reopen with more details.

[2017-12-06 16:55] #27 closed

[2017-12-07 07:38] muehan commented on #27
I have added

as you mentioned in the video and now it works.
[code]

sorry I thought it was a VS2015 problem and not a .csproj problem...
and I didn't know which problem gets fixed with that workaround.

so many thanks for you help, and also for sharing your cool project here. It helps a lot!

[2017-12-18 13:58] Advitalitum commented on #25
@giggio
Found solution. You can create [**custom wizard**](https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-wizards-with-project-templates). In .template.config\template.vstemplate place custom wizard before default wizard:
[code]
Create field in custom wizard:
[code]
Place this to RunStarted method:
[code]
in RunFinished:
[code]
You also may need to add references to System.

[2017-12-20 10:16] Advitalitum commented on #25
Found dirty hack for preserving folder structure.
# **MAYBE IT IS DANGEROUS** #
We will preserve old solution file and open it on project creation.

Remove "SolutionFile.sln" from exclude section in .template.config\template.json. In SolutionFile.sln wrap project section with project template by #if (false), #endif :
[code]
- - - -
Add two wizards. One before default wizard, one after.
[code]
- -

[2018-01-22 21:30] namtar1447 opened #28 "Wizard implementation via VSIX to deploy template.json"
Hello,

Not sure how to go about sharing my question, feel free to enlighten me on how best to get the answer I need.

I've been working on a multi-project template.json and fine-tuning/testing using the dotnet new CLI. I now want to allow other developers to benefit from this and started wrapping it in a VSIX starting from the Template Pack Project Template. Deployment of the template works fine

[2018-02-06 16:18] tylerbhughes commented on #20
@mhutch I know you were on the original thread talking about this. Can you provide any input to my issue above?

[2018-02-06 17:10] sayedihashimi commented on #20
@tylerbhughes SideWaffle depends on the VS Extensibility Projects, so it won't load in VSMac.

[2018-02-06 17:56] tylerbhughes commented on #20
@sayedihashimi alright, should we create a new repo for the SideWaffle4Mac project? Since I'll have to start new to add this support.

[2018-02-06 17:59] mhutch commented on #20
I'd probably suggest creating a SideWaffle.Creator.Mac in this repo so it's easy to share code between the two extensions (maybe factor out some shareable code from SideWaffle.Creator into a library).

[2018-03-25 14:44] someRandomCoder7 opened #29 "Can't Make a Template Pack"
Whenever I try to make a Template Pack, VS 2017 throws an error that says "There is a missing project subtype.
Subtype: '{82b43b9b-a64c-4715-b499-d71e9ca2bd60}' is
unsupported by installation."

[2018-03-26 05:00] sayedihashimi commented on #28
Hi @namtar1447, since you are wanting to show a UI or collect info from the user in Visual Studio, you'll need to create a custom wizard. You can do this with Win Forms or WPF.

[2018-03-26 13:48] namtar1447 commented on #28
Thank you for the answer. Yes, the Wizard works, basically I just am unable to pass in the symbols. Here's an example:

[code]

I would typically just use the command-line parameters when calling dotnet new, but I can't find an equivalent way to do this when the wizard is invoked this way.

[code]

Am I supposed to be able to use CustomerParameters in a specific way to do so?

[2018-03-26 14:08] sayedihashimi commented on #28
There is a special syntax to indicate that the parameter should be passed through, take a look at [my sample](https://github.com/sayedihashimi/sayed-samples/tree/master/dotnet-templates/PassParameterFromWizard). Specifically [this line](https://github.com/sayedihashimi/sayed-samples/blob/master/dotnet-templates/PassParameterFromWizard/VsixProject1/SayedWizard.cs#L24).

[2018-03-26 14:13] sayedihashimi commented on #29
It sounds like you don't have the Visual Studio Extensibility components installed. That's required for creating templates.

[2018-03-26 19:47] sayedihashimi commented on #25
I believe that [this comment](https://github.com/dotnet/templating/issues/1452#issuecomment-375105238) from a dev on the team addresses this issue. Can you take a look and let me know if that is what you're looking for?

[2018-03-26 21:16] sayedihashimi commented on #29
@someRandomCoder7 here is what you need

![image](https://user-images.githubusercontent.com/1283154/37933496-6378999c-3119-11e8-8837-508a52cc8f5a.png)

FYI @madskristensen the docs at https://docs.microsoft.com/en-us/visualstudio/extensibility/installing-the-visual-studio-sdk do not provide enough info.

[2018-03-26 21:17] someRandomCoder7 commented on #29
I already have that.

[2018-03-26 21:49] sayedihashimi commented on #29
In the new project dialog do you see an Extensibility section?

[2018-03-26 22:02] someRandomCoder7 commented on #29
Yes I do.  In there is the "C# Item Template", "C# Project Template", "VISX Project", and the "SideWaffle Template Pack".

[2018-03-27 00:10] sayedihashimi commented on #29
Can you create a VSIX project there and see if you get any errors?

From the following it does look like an Extensibility project type guid
 - https://www.mztools.com/articles/2008/mz2008017.aspx
 - https://blogs.msdn.microsoft.com/dmx/2014/04/08/problem-solved-visual-studio-there-is-a-missing-project-subtype-subtype-82b43b9b-a64c-4715-b499-d71e9ca2bd60-is-unsupported-by-this-installation/

[2018-03-27 12:46] someRandomCoder7 commented on #29
Yes I can successfully make a VISX Project.  Although I am confused of the second part of your comment

[2018-03-27 22:20] someRandomCoder7 commented on #29
No, it actually has this ID: `VSIXProject4.f45707ff-0434-433f-bcaf-e4bf0c1c8f23`

[2018-03-27 22:38] someRandomCoder7 commented on #29
For some reason the Template Pack all of a suddenly works...
Thanks for the help.

[2018-03-28 12:19] #29 closed

[2018-03-28 15:40] sayedihashimi commented on #29
@someRandomCoder7 sounds good, glad you got it working.

[2018-03-31 18:00] someRandomCoder7 opened #30 "The target "Pack" does not exist in the project."
Whenever I try to run the template in Visual Studio, it gives back the error: `The target "Pack" does not exist in the project.`  And the error is coming from `Template.proj`.
That file appears in the solution explorer, but when I try to open it an error pops up claiming that the file doesn't exist.  This even when I make a brand new template!

[2018-04-12 21:26] giggio commented on #25
@sayedihashimi it works, the physical folder structure is as expected.
But I lost my solution folders from the original solution. Is there a way to get it back?
BTW, it would be a good idea to share how to fix this, step by step, in a wiki, etc, that is discoberable. Or maybe bake the solution into Sidewaffle.
@Advitalitum thanks for the help, but @sayedihashimi solution was simpler. Only one wiza

[2018-04-13 15:32] sayedihashimi commented on #25
@giggio Solution Folders are not supported. To create solution folders you'll need a custom wizard to handle creating those and placing projects inside of them.

[2018-04-30 14:06] GTANAdam opened #31 "Compilation error with the Project Template"
Compiling a default SideWaffle Project Template results in a compliation error as following:
`The expression "[System.IO.Path]::GetFullPath(  )" cannot be evaluated. The path is not of a legal form.
`

Any suggestions?

[2018-04-30 15:17] sayedihashimi commented on #31
This happens when a .vstemplate file is not found. Do you have one in the correct folder?

[2018-04-30 15:40] GTANAdam commented on #31
Correct, it is missing.
Shouldn't it be created by default with the Project Template though?

[2018-04-30 16:04] sayedihashimi commented on #31
@GTANAdam that file needs to be next to the source project you're using, so it's not a part of the project created for the template. See my videos at https://www.youtube.com/watch?v=g6az_N95dVM&list=PLqSOaIdv36hQdvGVkMXDJJ4Uh-nGj3NRK.

[2018-05-02 11:57] FlavioKrahl opened #32 "Question: How can I rename specific files in template.json?"
@sayedihashimi
@madskristensen
I saw your answer to a similar question at [https://github.com/dotnet/templating/issues/396](url). However I am not able to edit my template.json the way that is suggested in that issue. Is there something I am missing if I'm using the SideWaffle Creator or is that attribute for symbols simply not supported in this version? Thanks for the help in advance.
Greets Flav

[2018-05-09 09:16] FlavioKrahl commented on #32
Okay I tried the approach mentioned in the Issue you linked me to, but it doesn't exactly do what I'm trying to achieve. Let's say iI have a Class "Module1.cs" and want to rename this file based on user input.  In my custom Wizard I have following line of code in the RunStarted Method:
`replacementDictionary.Add("passthrough:ModuleName", WizardForm.MyModuleName.Text)`
In my template.json I added f

[2018-05-27 12:28] tylerbhughes commented on #10
@sayedihashimi has this fixed been released?

[2018-06-06 15:35] giggio commented on #25
@tylerbhughes yes, the response from Sayed above helped: https://github.com/ligershark/sidewafflev2/issues/25#issuecomment-376288902

[2018-06-06 16:20] tylerbhughes commented on #25
Great, I'll close this then since it's been resolved.

[2018-06-06 16:20] #25 closed

[2018-06-08 14:03] tylerbhughes commented on #10
@sayedihashimi I've tested and confirmed that the .template.config file does not get deleted if you click the cancel button.

[2018-06-11 16:04] derekirving opened #33 "ProjectFinishedGenerating - project is null"
The method gets called but the project property is always null
`public void ProjectFinishedGenerating(Project project)`

[2018-06-12 20:13] mlorbetske opened #34 "Issue with location of Dockerfile when using template"
_From @LeighF51 on June 5, 2018 15:59_

Hi,

I have a template with 3 projects (one of them being a docker project) that are setup in a template. When creating a new solution from the template the docker file in my service project is included but it is stored away in a set of folders rather than being left at the root of the project it should be part of.

I've tried including a copyOnly section in

[2018-06-12 20:13] mlorbetske commented on #34
_From @seancpeters on June 5, 2018 23:54_

Could you post some info on the directory structure of your template source, including:
- the fully expanded path to the docker file in the source
- the location of the template.json file

The existence or lack of a file extension shouldn't affect the output location of any files.

[2018-06-12 20:13] mlorbetske commented on #34
_From @LeighF51 on June 6, 2018 7:16_

@seancpeters

In the source the dockerfile can be found at the root of the service template project i.e. C:\Users\fyfieldl\source\Templates\ServiceTemplate\NetCore\NetCoreServiceTemplate - from here I have the dockerfile, csproj etc
![image](https://user-images.githubusercontent.com/8517007/41022297-fb6f1922-6960-11e8-943c-a72269c5927f.png)

This structure fo

[2018-06-12 20:13] mlorbetske commented on #34
_From @seancpeters on June 8, 2018 21:26_

@LeighF51 - I'm going to need to play with a copy of your template to figure out what's going on. Is the template source in a repo where I can download it?

Also, are you invoking this template only from VS, or also using "dotnet new"?

[2018-06-12 20:13] mlorbetske commented on #34
_From @LeighF51 on June 11, 2018 9:50_

@seancpeters

You can find a version of the template at https://github.com/LeighF51/ServiceTemplate

Only invoking the template from VS, not using dotnet new at all

[2018-06-12 20:13] mlorbetske commented on #34
Taking a look at the nupkg generated when building the solution in the repo, it looks like the docker file is being placed at a different location than expected.

To get the behavior you expect, the file would need to be located at
Content\NetCoreServiceTemplate\Dockerfile

But it's actually located here instead
Content\NetCoreServiceTemplate\Dockerfile\NetCoreServiceTemplate\Dockerfile

It looks

[2018-06-13 21:54] giggio commented on #25
Great, but it would be nice to post a more structured guidance somewhere, probably on some docs or on the readme.

[2018-06-13 22:29] tylerbhughes commented on #25
@giggio Thanks for the input. We're still working on documentation. It's just a slow process.

[2018-06-22 15:35] ccheetham opened #35 "Template Pack project with multiple templates installs same template multiple times"
I've a solution with a couple of projects, lets call them Foo and Bar, for which I've created templates (ie, .template.config dirs.).  I then create a Template Pack Project Template in the solution.  When I run the template pack project, I do see both Foo and Bar templates in the test VS2017 instance.  However, both templates create projects of the Foo type.

Note this isn't a multi-project templa

[2018-06-22 17:46] sayedihashimi commented on #35
@ccheetham can you attach a sample that reproduces the issue?

[2018-06-22 17:53] ccheetham commented on #35
https://github.com/SteeltoeOSS/Samples/tree/skunkworks-sdk/Configuration/src/AspDotNetCore

[2018-06-22 17:58] sayedihashimi commented on #35
@ccheetham I don't see any .vstemplate file in that repository.

[2018-06-22 18:03] ccheetham commented on #35
Note sure I understand exactly what you're referring to.

There are 2 .vstemplate files:
Simple/.template.config/template.vstemplate
SimpleCloudFoundry/.template.config/template.vstemplate

[2018-06-22 18:58] sayedihashimi commented on #35
I was looking at the wrong branch on my local machine.

So I'm able to reproduce the issue. For some reason it's using the same .vstemplate file for both projects. It seems there is some bug in the .targets file here.

[2018-06-22 19:05] sayedihashimi commented on #35
OK I found out what was happening. The names of both `.vstemplate` files was `template.vstemplate`. They need to be unique across the solution. I've sent a PR to your project to fix the issue https://github.com/SteeltoeOSS/Samples/pull/46. I'll close this, since I believe it's fixed, but if you still have any issues please reopen this.

[2018-06-22 19:05] #35 closed

[2018-06-22 19:06] sayedihashimi commented on #35
@tylerbhughes can you add a note that the names of the `.vstemplate` files need to be unique across the solution to the docs?

[2018-06-22 19:16] ccheetham commented on #35
Confirming that your suggestion worked.  Thanks for the speedy response/resolution!

[2018-06-22 19:58] sayedihashimi commented on #35
@ccheetham great, thanks for letting us know it's working for you and thanks for using SideWaffle (I still love that name!).

[2018-07-03 12:55] vtherry commented on #4
Hi @sayedihashimi,
I have tried to create Item templates based on the tipds you've given without success.
Do you have a sample showing this ?
Any update on Item template support ?
Thank you

[2018-07-19 16:20] justintcgplayer opened #36 "Create individual templates for multiple projects in the same VSIX package"
I have a solution with two projects, ConsoleApp and WebApp. I would like to create a VSIX that includes two project templates: one for ConsoleApp and one for WebApp (NOTE: I do not want a single template that creates both projects, I want one for each).

If I Create Template for each of these projects and then build the VSIX, it only creates a single template for one of the projects.

[2018-07-29 20:25] lhughey opened #37 "Unsupported (Visual studio unable to open template pack project)"
I'm receiving an error when attempting to add a new Template Pack Project Template after creating a new project.
Steps to reproduce.
1. Create a new console project.
2. right click project, Create Template
3. edit project file with
4. Attempt to Add new Template Pack Template project (Error occurs here).

I'm using Visual Studio 15.7.5
The error Im receiving is below.
<img width="686" alt="screen

[2018-07-30 14:45] sayedihashimi commented on #37
@lhughey can you share the .vsix that you are seeing this with?

[2018-07-30 18:01] avrahamcool commented on #36
I am also very intrested in that same feature.
eventually , I canould like to have one extention on the marketplace that would add multiple project templates to VS.

[2018-09-23 18:46] dschloesser91 commented on #37
I had the same problem. Solution for me was to install Visual Studio-Extensionen-Development pack under "Tools -> Get Tools and Features", because the VSIX Project template is in this pack and needs to be installed.

[2018-10-02 15:25] hallidev opened #38 "Multi-project template is generating two .sln files"
I've been following this YouTube video closely to build a multi-project template:
https://www.youtube.com/watch?v=g6az_N95dVM

My template solution (.NET Core) has the following structure:

/Company.WebApi.sln
/.template.config
/Company.WebApi.Model/Company.WebApi.Model.csproj
/Company.WebApi.Web/Company.WebApi.Web.csproj
/Company.WebApi.Service/Company.WebApi.Service.csproj
/Company.WebApi.Reposi

[2018-10-02 19:30] avrahamcool commented on #38
I think this problem was discussed here - https://github.com/ligershark/sidewafflev2/issues/25

[2018-10-02 20:02] hallidev commented on #38
Boy I thought I had read the issues closely, but I must have missed this. I'll give those solutions a shot.

Thanks!

[2019-01-02 17:15] Pietervdw opened #39 "Wizard RunFinished runs at wrong time"
Hi Guys,

I've created a multi-project template using the SideWaffle Creator. Everything works perfectly, so I add a custom wizard that implements IWizard and I add it to the template.vstemplate file:
[code]
When I run the template (File > New Project) the **RunStarted** event on the IWizard class runs fine:

[code]

But it looks like the **RunFinished** method runs immediately after **RunStarted*

[2019-01-03 04:08] sayedihashimi commented on #39
@phenning this is in reference to `Microsoft.VisualStudio.TemplateEngine.Wizard.TemplateEngineWizard`, can you reply back?

[2019-01-03 19:07] phenning commented on #39
Order of declaration in the vstemplate file is important.

Given the following:
[code]

The expected order of calling is as follows:
[code]
**BeforeWizard.RunStarted** is where you would want to hook in to modify the replacementsDictionary and/or invoke a custom UI. You may want to do this in order to supply a groupid or templateid via the dictionary to pass to the TemplateEngineWizard when $uisty

[2019-01-04 10:40] #39 closed

[2019-01-08 02:38] sayedihashimi commented on #36
Sorry for the late reply. I think you're running into the issue that @avrahamcool linked to above (https://github.com/ligershark/sidewafflev2/issues/35).

The issue is that the names of the .vstemplate files needs to be unique. So just change the name of the second template to something else. The file just has to have `.vstemplate` as the extension.
I think we could improve SideWaffle to help avoi

[2019-01-08 10:59] hallidev commented on #38
It did. I appreciate the help!

On Mon, Jan 7, 2019 at 9:28 PM Sayed Ibrahim Hashimi <
notifications@github.com> wrote:

[2019-01-08 14:09] #38 closed

[2019-01-23 19:53] rsaltrelli commented on #34
I'm encountering this same problem.  Seems to be because Dockerfile has no file extension.  If I rename it to `Dockerfile.txt` then the problem goes away.  What is the resolution/workaround for this?

[2019-03-10 21:47] KKacer commented on #25
@Advitalitum Did your solution work?

[2019-03-10 21:57] avrahamcool commented on #25
@KKacer I can confirm that this solution works.
you can take a look at my VS addon [here](https://github.com/avrahamcool/Aleph1.Skeletons)

what I did was to create a new class library beside the packager project - to hold the wizards.
(I have 2 set of wizards because my addon adds 2 different multilayered projects skeletons)
then have the packager project reference the wizards project.

also, in

[2019-03-12 15:09] KKacer commented on #25
@avrahamcool
Great!
Will take a look at your project ASAP.
Yeah I hope so.

[2019-03-12 15:39] KKacer commented on #25
@avrahamcool
Watched that, awesome! the Wizard seems to be what I wanted, the result in your final distributed VSix also looks cool and as expected.
Still I have some problems and questions related to it,
maybe you would like to give me a help. Can we discuss a bit regarding this in Skype/Discord, ...?
S-ID: Kasra.Kacer
Guess 5 minutes could be enough.

[2019-03-12 16:32] avrahamcool commented on #25
Hi @KKacer I'll try to help.
Let's take it to a private channel via email (can be found in my user profile)

[2019-04-11 08:13] dreammaster38 opened #41 "SideWaffle throws FileNotFoundException"
Hi,

I have installed Visual Studio 2017 V15.9.11 and Visual Studio 2019 V16.0 side by side.
After upgrading SideWaffle to V1.1 for both Versions of VS I get this exception in VS 2017:

CreateInstance failed for package [SideWaffleCreatorPackage]Source: 'mscorlib' Description: The file or assembly "Microsoft.VisualStudio.Shell.15.0, Version=16.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3

[2019-04-15 09:28] bsubasic commented on #41
+1

[2019-04-19 04:23] sayedihashimi commented on #41
I have a new version at https://www.dropbox.com/s/ah9b7zusp5itr3a/SideWaffle.Creator.vsix?dl=0 can you try it out and let me know if it's working for you. If so I will publish it to the gallery.

[2019-04-19 10:14] bsubasic commented on #41
It works, no error.

[2019-04-19 19:04] sayedihashimi commented on #41
@bsubasic thanks, I have uploaded that version to the gallery. I'll go ahead and close this now but please reopen if there are further issues.

[2019-04-19 19:04] #41 closed

[2019-04-29 15:16] softerj opened #42 "SideWaffleCreatorPackage package did not load correctly"
Have a new dev machine and I am getting it set up. Have Visual Studio 2017 15.9.11 installed. I've installed SideWaffleCreator but get the following error when opening a project:

[code]

I tried the solution in issue #41 (v1.2) and I still receive the same error. Any ideas?

[2019-05-07 12:33] Rfaering opened #43 "Error occurred while restoring NuGet packages: The operation failed as details for project x could not be loaded"
Getting the following error

Error occurred while restoring NuGet packages: The operation failed as details for project x could not be loaded.

After creating empty dotnet projects through template.

This issue is resolved after restarting visual studio.

I get this in VS 15.9.11

![image](https://user-images.githubusercontent.com/3888638/57299344-95327380-70d4-11e9-9406-8f1b781d1eaa.png)

Also ge

[2019-05-07 13:07] Rfaering commented on #43
This issue is also fixed, if I run dotnet restore from the folder. Is there any way I can force the template to run dotnet restore after creating?

[2019-05-07 19:26] sayedihashimi commented on #43
@Rfaering can you give me some steps to reproduce the issue?

[2019-05-07 19:49] Rfaering commented on #43
@sayedihashimi  - Thanks for your response, I have created the smallest possible example. That reproduces the error on my visual studio. I have also tried to distribute the package to other machines, that experiences the same error after creating the template

Please let me know, if you need further information to reproduce the error

[VsixTest.zip](https://github.com/ligershark/sidewafflev2/files

[2019-05-09 14:08] Rfaering commented on #43
@sayedihashimi - any news?

[2019-05-15 22:18] sayedihashimi commented on #43
@Rfaering sorry for the delay, I've been too tired due to taking care of a newborn. How did you create this project? When I tried it I'm getting a build error:

[code]

I tried installing the latest .NET Core 2.2 SDK but that didn't help.

FYI I think I've seen this error message before. I tried to find the issue here but wasn't able to. The error is thrown by VS itself, not SideWaffle.

[2019-05-15 22:20] sayedihashimi commented on #43
@seancpeters does the error message in the dialog mean anything to you? I know I've seen it before but was not able to track it down.

[2019-05-15 22:21] sayedihashimi commented on #43
@Rfaering are you using Azure DevOps? I found this issue https://developercommunity.visualstudio.com/content/problem/398508/value-cannot-be-null-parameter-name-punk-when-chec.html

[2019-05-15 22:29] seancpeters commented on #43
@sayedihashimi - I don't think I've seen this error before.

[2019-05-15 23:22] sayedihashimi commented on #43
@seancpeters thanks

[2019-05-20 09:13] Rfaering commented on #43
@sayedihashimi - I did some more testing today, I had used this guide for inspiration for getting my template to work with multiple projects

https://github.com/ligershark/sidewafflev2/wiki/How-to-Create-A-Multi-Project-Template

Whenever I created standard projects, I kept getting the same issue whenever I created a core project

Playing around with different ideas, I did find a fix though, doing

[2019-05-20 19:02] sayedihashimi commented on #43
Glad you got it working, closing.

[2019-05-20 19:02] #43 closed

[2019-07-20 10:34] grahamehorner opened #44 "Q: Template Creation Dialog"
I'm reviewing/researching the new templating engine for creating a set of templates that accept user/developer input similar to the aspnetcore templates; I'm confused to how/what is require and if sidewafflev2 can do this? also if/how/what I need to do to create a compatible vsix and weather vs-2017.host.json, *.vstemplate and/or other file are needed in the .template.config folder.

It would be g

[2019-07-20 22:44] sayedihashimi commented on #44
If you have parameters that the user needs to specify, you will need to create a custom wizard that presents a UI and then passes those as parameters to the other wizards. In the .vstemplate this new wizard should be placed above the other wizards. I think I have a sample of this somewhere, I will look for it.
Regarding the host file, if you put that next to your template.json file, it should be p

[2019-07-20 22:50] sayedihashimi commented on #44
Here is the sample I was talking about https://github.com/sayedihashimi/sayed-samples/tree/master/dotnet-templates/PassParameterFromWizard. Specifically the wizard is at https://github.com/sayedihashimi/sayed-samples/blob/master/dotnet-templates/PassParameterFromWizard/VsixProject1/SayedWizard.cs and it’s declared in the .vstemplate at https://github.com/sayedihashimi/sayed-samples/blob/master/dot

[2019-07-21 15:12] grahamehorner commented on #44
many thanks for the quick reply links and samples, much appreciated.

I do have other questions around structure of the generated solution, ie how the place projects into folders such as src or tests etc. ? I'm not sure if I'm doing something incorrect but projects don't seem to go into folders or solution folders.

[2019-07-21 16:53] sayedihashimi commented on #44
The projects will be laid out in disk as they are in the template. To make a sln folder you’ll need to do that in a wizard. I think it’s easiest to add this wizard to run last and it should do the following:

 - remove projects added to sln
- add sln folders
- add projects to sln in the sln folders

[2019-07-21 20:12] grahamehorner commented on #44
@sayedihashimi I'm trying to run the samples and/or add the custom dialog to the vsix/template.json as shown in the samples; however keep getting the error below

![Capture](https://user-images.githubusercontent.com/3924941/61596485-42108d00-abfc-11e9-8c2b-4997ad4800f6.PNG)

any ideas ?

[2019-07-21 21:36] sayedihashimi commented on #44
I’ve never heard of *DXC.Foundation.Template*, I believe that’s not related to the sample. I will try it tomorrow, but I’m pretty sure that is some issue on the machine that you’re using.

[2019-07-22 00:13] grahamehorner opened #45 "Q: multiple template vsix"
is it possible to create a multiple template VSIX; I have a number of templates each builds and is included in the nuget output, however only one is shown in VS 2019 exp when running the solution; I have confirmed that the output nupkg content folder contains the project templates.
The template.zip however only has one template.json & template.vstemplate ?

[2019-07-22 01:00] sayedihashimi commented on #45
Yes, but the .vstemplate file name needs to be unique. For example template1.vstemplate, template2.vstemplate, etc.

[2019-07-22 11:35] #45 closed, assigned to nobody

[2019-07-22 11:37] grahamehorner commented on #44
Sorry, DXC.Foundation.Template is my own assembly; pasted wrong screenshot, doh! but I get the same error with the sample expect with a different component name.

[2019-07-22 17:05] sayedihashimi commented on #44
@grahamehorner can you paste the error you're getting when running the sample w/o modifications?

[2019-07-23 10:36] grahamehorner commented on #44
@sayedihashimi apologies I got this to work, it was an issue with my signing cert

[2019-07-23 10:36] #44 closed, assigned to nobody

[2019-07-23 14:01] sayedihashimi commented on #44
Happy to hear you got it working. If your template is open source please share a link.

[2019-07-23 16:50] grahamehorner commented on #44
@sayedihashimi I would be happy to share, however I need to check with my employer and/or the client for which we are developing these templates on weather they would be happy to publish these given the number of additional closed source nugets that are referenced.

[2019-07-23 16:53] sayedihashimi commented on #44
@grahamehorner no problem, if you have some proprietary stuff there then it's best to keep it private :) If it was OSS then I would take a look to see what you're working on.

[2019-07-24 14:03] grahamehorner opened #46 "Q: ItemTemplate"
Does SideWaffle support the creation of ItemTemplates and/or the packaging of them with-in the same VSIX as ProjectTemplates? is there any samples/guidance around doing this?

thanks in advance for any help.

[2019-07-24 14:32] sayedihashimi commented on #46
See this discussion on item templates https://github.com/ligershark/sidewafflev2/issues/4#issuecomment-338273732

[2019-08-27 20:11] mheyner commented on #42
I'm also getting this issue. Any updates?

[2019-09-01 21:57] AlexPerotti commented on #42
Same problem with VS 2017 Community 15.9.5

[2019-09-13 16:03] abmadmin1 commented on #42
I'm also getting the same error in VS Community 2017 15.9.16. Looks like it can't load Microsoft.VisualStudio.Shell.15.0, Version=16.0.0.0.

Contents of ActivityLog.xml:
[code]

[2019-09-19 16:29] sayedihashimi commented on #42
@madskristensen any hints on how we can resolve this?

[2019-11-17 02:19] kyleherzog opened #47 ""Use previews of the .NET Core SDK" Error Trying to Use Template"
My template project is giving an error when I try to use it.  The message is 'To create this project type, go to Tools | Options | Environment | Preview Features and check "Use previews of the .NET Core SDK"'.  Selecting the previews option does not resolve the error though, even after restarting Visual Studio.

I can recreate the error doing the following.  I create a new asp.net core 2.2 MVC app

[2019-11-18 19:33] kyleherzog commented on #47
Apparently, there is some kind of extension caching going on in VS.?  If I update the version number in .vsixmanifest, the issue goes away.  I had been resetting my experimental instance between runs, but evidently that is not enough of a fresh start.

[2019-11-18 19:33] #47 closed, assigned to nobody

[2020-04-09 06:38] jskeet opened #48 "VSIX not found"
The VS marketplace refers to http://sidewaffle.com/feed/web/SideWaffle.Creator.v1.1.vsix, but I can't find _any_ content on sidewaffle.com

Is this project still alive? If so, where would we get the VSIX these days?

[2020-04-09 15:23] sayedihashimi commented on #48
@madskristensen are you hosting sidewaffle.com or am I?

[2020-04-09 16:46] madskristensen commented on #48
@sayedihashimi I just checked and I'm not hosting it

[2020-04-09 16:46] madskristensen commented on #48
@sayedihashimi you are

[2020-04-09 17:20] sayedihashimi commented on #48
@madskristensen thanks, let me take a look to see what can be happening here.

[2020-04-09 21:15] sayedihashimi commented on #48
For the time being you can download from the following URL

https://github.com/ligershark/SideWaffleWebsite/blob/master/SideWaffleWebsite/feed/web/SideWaffle.Creator.v1.1.vsix

[2020-04-09 21:19] jskeet commented on #48
Great, thank you very much. (You might want to consider using https://github.com/ligershark/sidewafflev2/releases as an alternative place for release downloads)

[2020-09-13 20:14] avrahamcool commented on #48
also, you need to fix the link from the marketplace.

[2020-09-14 16:45] sayedihashimi commented on #48
The links are correct, the problem is that the site is not running. My Azure account was disabled for some reason. I'm trying to get it back up and running. In the mean time there is a link in my previous command that can be used.

[2021-01-27 22:30] avrahamcool opened #49 "automatic replacements of tokens from replacementsDictionary"
Hi,

the projects that I have in my package have some information in them that I would like to be dynamically replaced at runtime.
for instance:
1: I have a text containing the current year (currently hard coded) - and I want it to be replaced at runtime with the right year.
2: I have a place where i want to fill the current user name, instead of a hard-code one.

the `replacementsDictionary` has

[2021-01-28 23:20] sayedihashimi commented on #49
@avrahamcool how invested are you in this current template? There is now a better, and much simpler, approach to creating templates. See my video series that was recently published over at https://youtube.com/playlist?list=PLqSOaIdv36hSx7WPUuFAVx59Ovbcpk_54

[2021-01-28 23:30] avrahamcool commented on #49
@sayedihashimi first of all, thanks for the quick response - and the work you have done and shared..
you are a life saver.

I have invested a lot of time into creating/testing/adjusting the template to achieve this current state.
so I was hoping to find an easy solution for the current problem that will not involve recreating the template from scratch.

but I'll watch the videos - and hopefully I'

[2021-01-28 23:33] sayedihashimi commented on #49
Ok thanks no problem, I will certainly take a look. Do you have a sample that you can share with me to see if I can get it working?

[2021-01-28 23:35] avrahamcool commented on #49
yes..
as I wrote in the question..
all of the code is published here: https://github.com/avrahamcool/Aleph1.Skeletons

and the goal is to replace the "hard coded" author name, with the current user who is  initiating the template.

https://github.com/avrahamcool/Aleph1.Skeletons/blob/1650c22215dd6413309423959f07a13d9d9d2a41/Aleph1.Skeletons.WebAPI/Aleph1.Skeletons.WebAPI.BL.Contracts/Aleph1.Skelet

[2021-01-29 01:47] sayedihashimi commented on #49
Thanks, I will take a look tomorrow.

[2021-01-29 16:28] sayedihashimi commented on #49
@avrahamcool If I understand correct, you have a custom wizard and you want to replace the author name with a value that is specified by the user.
Something very similar came up a while back, take a look https://github.com/ligershark/sidewafflev2/issues/17. In the comments there I have a sample that shows how to pass a parameter from your custom wizard through to the wizard that runs the code.

Le

[2021-01-29 16:28] sayedihashimi commented on #48
Fixed a while ago closing

[2021-01-29 16:28] #48 closed, assigned to nobody

[2021-01-29 16:29] #37 closed

[2021-01-29 16:30] sayedihashimi commented on #20
No longer needed, Template Engine templates will automatically appear after being installed.

[2021-01-29 16:30] #20 closed

[2021-01-30 16:18] avrahamcool commented on #49
@sayedihashimi
again, thanks.

this is not exactly what I needed - the replacementsDictionary already contains the correct value at runtime (I don't need the user to specify it in a custom wizard).
I just didn't find a way to "apply" the replacement automatically upon creation.
if I simply use `$username$` in my code - it just stays like that and not being replaced.

[2021-02-01 16:25] sayedihashimi commented on #49
If you want the parameter to apply it will need to be prefixed with `passthrough:`, have you tried that?

[code]
See
 - https://github.com/sayedihashimi/sayed-samples/blob/master/dotnet-templates/PassParameterFromWizard/VsixProject1/SayedWizard.cs
 - https://github.com/sayedihashimi/sayed-samples/blob/master/dotnet-templates/PassParameterFromWizard/Sayed.Console01/.template.config/template.json#L1

[2021-02-01 17:01] avrahamcool commented on #49
Thanks. that did the trick.

I'm very grateful for your help.

[2021-02-01 17:01] #49 closed, assigned to nobody

[2021-02-01 17:09] sayedihashimi commented on #49
@avrahamcool ok great, glad you got things working.

[2021-11-03 11:52] revealyan commented on #34
my Dockerfile doesn't copy to template
workaround
1)rename Dockerfile -> Dockerfile.d
2)add the parameter
[code]
3)hide the parameter in dotnetcli.host.json or ide.host.json

[2021-12-28 23:12] kyleherzog opened #50 "Visual Studio 2022 Support"
Are there plans to add support for Visual Studio 2022?

[2022-01-02 00:22] sayedihashimi commented on #50
VS2022 now has native support for Template Engine templates, see https://aka.ms/netcore-templates. Please take a look. If you still need this extension in VS2022, please explain your scenario and why the built in support isn’t sufficient.

[2022-01-08 16:37] kyleherzog commented on #50
I was able to successfully switch over to the newer template engine.  Thanks for pointing me in that direction.

[2022-01-08 16:37] #50 closed, assigned to nobody

[2022-01-08 18:58] sayedihashimi commented on #50
Thanks for letting me know, that’s great to hear.

[2022-01-13 18:30] VacuumBreather opened #51 "How to use SIdeWaffle to make a dotnet solution template backwards-compatible"
I'm trying to get a dotnet solution template with a slightly complex folder structure to be compatible with VS2019 (without the preview feature) and if possible with VS2017

The solution looks like this.

MyProject.sln
-Src
  MyProject-shared.csproj
  SharedFilesA
  SharedFileB
-Platforms
  -android
    MyProject-android.csproj
    FileA
  -ios
    MyProject-ios.csproj
    FileB
  -macos
    MyPro

[2022-01-13 18:35] sayedihashimi commented on #51
Hi @VacuumBreather have you seen my videos linked below, they may be helpful.

- https://youtu.be/g6az_N95dVM
- https://youtu.be/5Cb4vOh5Eog

[2022-01-13 18:36] VacuumBreather commented on #51
I have watched them. unfortunately they didn't help me achieve this result.

[2022-01-13 18:37] sayedihashimi commented on #51
@VacuumBreather do you have a sample that you're working on that I can try out?

[2022-01-13 19:19] VacuumBreather commented on #51
I'm having the most trouble understanding how the vstemplate files need to be set up. Do there need to be such files for each project or just for the solution, if only for the solution, how do I generate those. In the video you just move a project vstemplate one level higher without modifiying it? That seems to make no sense.
Also the Sidewaffle Vsix project throws an error.
I'm not sure how to tu

[2022-01-13 19:43] VacuumBreather commented on #51
Ideally the resulting VSIX will be installable in VS2017, 2019 and 2022 and the templates work in all three. I'm currently only getting it barely to work in 2019 but getting a HRESULT error on project creation, so I'm doing something wrong. I left the vstemplate file out of the zip because I don't know hot to generate it.

[2022-01-14 10:45] VacuumBreather commented on #51
This is my current progress. I'm getting an error in VS2019 (with the preview feature of showing .NET Core templates deactivated) and it doesn't work at all in 2017.

[Templates.zip](https://github.com/ligershark/sidewafflev2/files/7869782/Templates.zip)

This is the error in 2019 upon project creation. The error shows up after the project seems to be fully created already, but
then I'm stuck in t

[2022-01-14 17:01] VacuumBreather commented on #51
I think I found the reason for the error.
It occurs the scond I'm switching

[code]

to

[code]

in the template.json

However this change is necessary since I need the solution file to be used as defined in the template, instead of a generated solution file. There are solution folders in there and other things that need to be the way they're set up in the templated solution file.

However this se

[2022-01-14 17:12] sayedihashimi commented on #51
With VS, it tries to use the solution file created. I'm not sure if the Wizard supports "solution" templates. @phenning, does the wizard support this?

[2022-01-14 17:33] VacuumBreather commented on #51
Also can you tell me what the default value for "Show all .NET Core templates in New Project window" experimental setting is in a fresh install for VS2019? Is it by default on or off?
I'd simply use a standard dotnet template but my customer really doesn't like that we have to rely on that being active... that's why I'm trying to get it to work in SideWaffle to begin with. but if that doesn't supp

[2022-01-27 16:41] phenning commented on #51
The wizard does appear to support this. We do most of the heavy lifting in a shared component that both the wizard and template provider implementations use.

[2022-01-27 16:54] phenning commented on #51
It is on by default in 16.9 and later, and off in version 16.8.

In Visual Studio 2022, the new template experience will always be available.

[2022-11-24 11:33] yassinebennani commented on #51
Hello @sayedihashimi @phenning

Please I need your help guys I'm struggling to make the custom wizard working with dotnet template in visual studio 2022 17.4.1, I followed every necessary step and I analyzed all your repositories and videos (I really did) but I think there is something wrong, I can see my template while debugging my vsix project but the wizard is not getting invoked when I create